/* ANIMATION */
/* line 6, style.scss */
#boardshort_title {
  text-transform: uppercase; }

/* line 10, style.scss */
#boardshort {
  border-color: #e4e4e4;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding: 20px 0 50px; }

/* line 16, style.scss */
.carousel_title {
  color: #333;
  font-family: "berthold", Arial, sans;
  font-size: 30px;
  margin-top: 30px;
  text-transform: uppercase; }

/* line 24, style.scss */
.boardshorts_list {
  width: 100%; }

/* Gestion de l'affichage des boardshorts et des carousels */
/* line 30, style.scss */
.boardshort_all_carousel li {
  width: 970px;
  height: 750px; }

/* line 35, style.scss */
.jcarousel-container-horizontal {
  margin: auto;
  width: 970px;
  height: 600px;
  padding: 0; }

/* line 42, style.scss */
.jcarousel-clip-horizontal,
.jcarousel-clip {
  width: 970px;
  height: 600px;
  border-top: none; }

/* line 49, style.scss */
.jcarousel-item {
  width: 970px;
  height: 450px; }

/* line 54, style.scss */
.jcarousel-item img {
  min-width: 100%;
  height: 450px; }

/* line 59, style.scss */
.jcarousel-list li {
  width: 970px;
  height: 600px; }

/* line 64, style.scss */
.item_info {
  height: 300px;
  width: 970px;
  margin-top: 50px; }

/* line 70, style.scss */
.item_title {
  color: #383838;
  clear: both;
  display: block;
  font-size: 14px;
  text-align: center; }

/* line 78, style.scss */
.item_desc {
  padding: 0 180px 0 180px;
  text-align: justify;
  line-height: 16px; }

/* Gestion de la partie navigation */
/* line 86, style.scss */
.pagination_container {
  display: block;
  height: 24px;
  width: 970px;
  position: absolute;
  bottom: 120px; }

/* line 94, style.scss */
.jcarousel-prev, .jcarousel-next {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: block;
  position: relative;
  /*bottom: 0;*/
  z-index: 2000; }

/* line 104, style.scss */
.jcarousel-prev {
  background: transparent url(../img/carousel_arrows_riders.png) no-repeat left top;
  /*left: 0;*/
  float: left; }
  /* line 109, style.scss */
  .jcarousel-prev:hover {
    background: transparent url(../img/carousel_arrows_riders.png) no-repeat left 33%; }

/* line 114, style.scss */
.jcarousel-prev-disabled,
.jcarousel-prev-disabled-horizontal {
  opacity: 0; }

/* line 119, style.scss */
.jcarousel-next {
  background: transparent url(../img/carousel_arrows_riders.png) no-repeat left 66%;
  float: right; }
  /* line 123, style.scss */
  .jcarousel-next:hover {
    background: transparent url(../img/carousel_arrows_riders.png) no-repeat left bottom; }

/* line 128, style.scss */
.jcarousel-next-disabled,
.jcarousel-next-disabled-horizontal {
  opacity: 0; }

/* line 134, style.scss */
.boarshort_carousel_controls {
  position: relative;
  text-align: center;
  width: 970px;
  display: block;
  height: 18px;
  margin: -20px 0 0 0;
  bottom: 120px; }
  /* line 143, style.scss */
  .boarshort_carousel_controls a {
    background: #000;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 3px;
    height: 3px;
    text-indent: -10000px;
    z-index: 20000;
    position: relative;
    vertical-align: middle; }
    /* line 155, style.scss */
    .boarshort_carousel_controls a.active, .boarshort_carousel_controls a:hover {
      width: 8px;
      height: 8px;
      background: #FFF;
      border: 2px solid #000;
      vertical-align: middle; }

/* line 165, style.scss */
.carousel_bullet {
  display: table-cell;
  text-align: center;
  width: 25px; }

/* Respond-to exemple */
@media only screen and (max-width: 640px) {
  /* line 173, style.scss */
  .bottomWrapper, .topWrapper, #ariane {
    display: none; } }
