/* ANIMATION */
/* Respond-to exemple */
@media only screen and (max-width: 640px) {
  .bottomWrapper, .topWrapper, #ariane {
    display: none; } }

#boarshort {
	border-color: #e4e4e4;
	border-style: solid;
	border-width: 1px 0 0 0;
	padding: 20px 0 50px;
}

.item_title {
	color: #383838;
	clear: both;
	display: block;
	font-size: 14px;
	text-align: center;
}

.item_desc {
	padding: 0 180px 0 180px;
	text-align: justify;
	line-height: 16px;
}

.events_all {
	margin: 20px 0 20px 0;
}

.carousel_title {
	color: #333;
	font-family: 'berthold',Arial,sans;
	font-size: 30px;
	margin-top: 30px;
}

#titreSousSection {

}

#titreSousSection h1 {
    font-family: berthold;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px 0 0;
    text-transform: uppercase;
    width: 100%;
    line-height: 35px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 2px 0 0;
}

/* Gestion de l'affichage des évènements et des carousels */

.event_all_carousel li {
    width: 970px;
    height: 750px;
}

.events_list .event-separator{
  height: 1px;
  width: 970px;
  display: block;
  background: #d0d0ce;
  float: left;
}

.event_info a {
}

.event_info img { 
}

.event_info p {
}

.event_info:hover p {
}

.item_info {
  height: 300px;
  width: 970px;
  margin-top: 50px;
}


.jcarousel-container-horizontal {
  margin: auto;
  width: 970px;
  height: 600px;
  padding: 0;
}

.jcarousel-clip-horizontal,
.jcarousel-clip {
    width: 970px;
    height: 600px;
    border-top: none;
}

.jcarousel-item{
  width: 970px;
  height: 450px;
}

.jcarousel-item .event_info{
  width: 970px;
  height: 450px;
}

.jcarousel-item .event_info:hover{
  width: 970px;
  height: 450px;
}

.jcarousel-item img{
  width: 970px;
  height: 450px;
}

.jcarousel-list li {
  width: 970px;
  height: 600px;
}

/* Gestion de la partie navigation */

.pagination_container {
  display: block;
  height: 24px;
  width: 970px;
  position: absolute;
  bottom: 120px;
}

.jcarousel-prev, .jcarousel-next {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: block;
  position: relative;
  /*bottom: 0;*/
  z-index: 2000;
}

.jcarousel-prev {
  background: transparent url(../img/carousel_arrows_riders.png) no-repeat left top;
  /*left: 0;*/
    float: left;
}

.jcarousel-prev:hover {
  background: transparent url(../img/carousel_arrows_riders.png) no-repeat left 33%;
}

.jcarousel-prev-disabled,
.jcarousel-prev-disabled-horizontal {
  opacity: 0;
}

.jcarousel-next {
  background: transparent url(../img/carousel_arrows_riders.png) no-repeat left 66%;
    float: right;
}

.jcarousel-next:hover {
  background: transparent url(../img/carousel_arrows_riders.png) no-repeat left bottom;
}

.jcarousel-next-disabled,
.jcarousel-next-disabled-horizontal {
  opacity: 0;
}


.boarshort_carousel_controls {
  position: relative;
  text-align: center;
  width: 970px;
  display: block;
  height: 18px;
  margin: -20px 30px 0 0px;
  bottom: 120px;
}

.boarshort_carousel_controls a {
  background: #000;
  cursor: pointer;
  display: inline-block;
  margin: 5px 15px 5px 15px;
  text-align: center;
  overflow: hidden;
  width: 4px;
  height: 4px;
  text-indent: -10000px;
  z-index: 20000;
  position: relative;

}

.boarshort_carousel_controls a.active,
.boarshort_carousel_controls a:hover
{
  width: 8px;
  height: 8px;
  background: #FFF;
  border: 2px solid #000;
  position: absolute;
  bottom: 0px;
}