@font-face {
  font-family: 'tungstenmedium';
  src: url("includes/tungsten-medium-webfont.eot");
  src: url("includes/tungsten-medium-webfont.eot?#iefix") format("embedded-opentype"), url("includes/tungsten-medium-webfont.woff") format("woff"), url("includes/tungsten-medium-webfont.ttf") format("truetype"), url("includes/tungsten-medium-webfont.svg#tungstenmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
