/*
#top-header,
#bottom-header,
#breadcrumb-container{
	z-index: 10;
    position:absolute;
    width:100%;
}


#top-header
{
    height:24px;
    top:0px;
}
#bottom-header
{
    top:24px;
    height:77px;
}

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/donnees\/www\/boardshort\/css\/includes\/qs_reset\.scss}line{font-family:\0000324}}
#breadcrumb-container {
  margin: 0;
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/donnees\/www\/boardshort\/css\/includes\/qs_reset\.scss}line{font-family:\0000329}}
.category-description {
  padding: 10px 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/donnees\/www\/boardshort\/css\/includes\/qs_reset\.scss}line{font-family:\0000333}}
#footer-container, .category-description {
  display: none; }
